* {
    box-sizing: border-box; 
}
 body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;;
    background:radial-gradient(circle at top right,#00eaff26, transparent 40%),
  linear-gradient(135deg, #071423, #0b2c4d, #071423);
}
.navbar {
  height:4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position:sticky;
  top: 0;
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  background:radial-gradient(circle at top right,rgba(0, 234,255,0.15), transparent 40%),
  linear-gradient(135deg, #071423, #0b2c4d, #071423);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
  transition: all 0.3s ease;
}
.logo{
    font-size: 22px;
    font-weight: 600;
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo-1{
margin-right: 10px;
display: flex;
align-items: center;
justify-content: center;
    height: 40px;
    width: 45px;
    border: none;
    border-radius: 50%;
     background: linear-gradient(120deg, #fd3737,#ff8c32);
     box-shadow: 0 0 4px rgba(125, 220, 255,0.6),
                 0 0 10px rgba(125,220,255,0.4);;
}
.logo-1 h1{
    color: #e5e7eb;
    font: 0.8em sans-serif;
    font-weight: bold;
}
.logo span{
    display: inline-block;
    transform-origin:0% 70%;
    transform-style: preserve-3d;
    color: cyan;
    animation: animate 3s ease-out;
    text-shadow: 0 0 4px rgba(125, 220, 255,0.6),
                 0 0 10px rgba(125,220,255,0.4);
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.logo:hover span{
    animation: animate 5s infinite linear;
}
span:nth-child(even){
    color:#fd3737;
}
.logo span:nth-of-type(1)
   {animation-delay: 0s;}
   .logo span:nth-of-type(2)
   {animation-delay: 0.15s;}
   .logo span:nth-of-type(3)
   {animation-delay: 0.30s;}
   .logo span:nth-of-type(4)
   {animation-delay: 0.45s;}
   .logo span:nth-of-type(5)
   {animation-delay: 0.60s;}
   .logo span:nth-of-type(6)
   {animation-delay: 0.75s;}
   .logo span:nth-of-type(7)
   {animation-delay: 0.90s;}
 .home-section{
    display: flex;
    list-style: none;
    gap: 30px;
}
 .home-section  li a{
    position: relative;
    text-decoration: none;
    color: #eaf6ff;
    padding: 8px 12px;
    font-weight: 600;
    font: 1em sans-serif;
}
.home-section li a::after{
   content: "";
   position: absolute;
   left: 50%;
   bottom: -6px;
   width: 0;
   height: 3px;
   background: linear-gradient(90deg, #fd3737,#ff4ecd,#ff8c32);
   border-radius: 10px;
   transition: 0.4s ease;
   transform: translateX(-50%);
   box-shadow: 0 0 12px rgba(253, 55, 55,0.8);
}
.home-section li a:hover::after,
.home-section li a.active::after{
    width: 100%;
}
.home-section li a:hover{
   color: #00bcd4;
    text-shadow:  0 0 1px rgba(125, 220, 255,0.6);
}
 .navbar button{
    height: 2rem;
    width: 7rem;
    border-radius: 3rem;
    background:linear-gradient(135deg, #00eaff,#00bcd4);
    color: #04202c;
    border: none;
    cursor: pointer;
    font-size:15px;
    font-weight: bold;
}
.navbar button:hover{
     box-shadow: 0 0 4px rgba(125, 220, 255,0.6),
                 0 0 10px rgba(125,220,255,0.4);
}
#backgraund{
    overflow-X: hidden;
    min-height: 100vh;
    width: 100%;
    background-image:
    linear-gradient(
        to bottom,
        rgba(0,15,50,0.6),
        rgba(0,15,50,0.6)
    ),
     url("backgraund image.jpeg");
    position: relative;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
} 
.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 15rem;
    position:absolute;
    inset: 0;
    background:rgba(255, 255, 255, 0.05);
    z-index: 1;
    border-radius: 16px;
}
.home-content{

    margin-left: 20px;
    max-width: 40%;
    gap: 5px;
}
.home-content h1{
    color: #ff4d4d;
    font: 35px;
}
.home-content h2{
    text-shadow: 0 2px 10px rgba(0,0,0,0.8);
    color: white;
    font: 20px sans-serif;
}
.home-content span {
    font-weight: bold;
    color: #ff4d4d;
    font: 1em sans-serif;                
}
.home-content p{
     text-shadow: 0 2px 10px rgba(0,0,0,0.3);
    font: 1em sans-serif;
    color: #ddd;
    margin-bottom: 25px;
}
.home-content button { 
    height: 35px;
    width: 8rem;
    font-weight: 600;
    background: rgba(231, 90, 90, 0.25);
    border: none;
    color: #FFF;
    border-radius: 5px;

}
.home-content button:hover{
    box-shadow: 0 0 10px #ff4d4d;
}

.home-image{
    max-width: 100%;
    overflow: hidden;
}

.home-image spline-viewer{
    width: 100%;
    height: 30rem;
}

#about-section{
    padding: 5px;
    backdrop-filter: blur(10px);
    min-height: 100vh;
}
.define{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.define h1{
    margin-bottom: 5px;
    color: #eaf6ff;
    font-weight: 600;
    font: 1.5em sans-serif;
    text-align: center;
}
.define h1:hover{
   color: #00bcd4;
    text-shadow:  0 0 1px rgba(125, 220, 255,0.6);
}
.define span{
    color: #ff4d4d;
    text-shadow: 0, 0, 30px, rgb(128, 7, 7);
}
 .define .parent{
   margin: 5px auto 0;
  box-shadow: 0 0 12px rgba(253, 55, 55,0.8);
   overflow: hidden;
    width: 5rem;
    height: 0.2rem;
    position: relative;
    border:none;
    border-radius: 10px;
    text-align: center;
}

 .define .child{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: linear-gradient(90deg, #fd3737,#ff4ecd,#ff8c32);
}
.about{
    padding: 20px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.image{
    position: relative;
     height: 14rem;
    width: 14rem;
    border-radius: 50%;
}
.image img{
    border: 1px solid #000;
    filter: brightness(0.4);
    border-radius: 50%;   
     object-fit: cover;
     height: 100%;
     width: 100%;
      box-shadow: 0 0 20px #071423,
                 0 0 25px #0b2c4d;
}

.about-content{
    max-width: 70%;
    margin-top: 0;
}
 .gradient-text{
    margin-bottom: 8px;
    line-height: 1.2;
    font-family:sans-serif;
    font-size: 40px;
    font-weight:700;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.first{
    color:#4fd1ff;
}
.gradient-text .second{
    color: #ff7a8a;
}
.about-content p{
    font-family: sans-serif;
    color: #92999f;
 
}
.about-content h4{
   margin-top: 0;
   color: #ddd;
    font-family:'Gill Sans', sans-serif;
}
.identity{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 20px;
    margin-bottom: 10px;
    margin-left: 21rem;

}
.identity .badges{
    background:rgba(255, 255, 255, 0.08);
    height: 10rem;
    width: 15rem;
    border-radius: 5px;
    border-left: 4px solid #00e5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.badges:hover{
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
.badges p{
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 1.2rem;
    color:#e5e7eb;
}
.badges h1{
    margin-left: 8px;
    margin-top: 0;
   color: #9ca3af;
   font: 1.2em sans-serif;
}

.buttons{
    display: flex;
    margin-top: 20px;
    margin-left: 21rem;
    gap: 20px;
}
 .buttons #btn-1{
    background: linear-gradient(135deg, #0f172a,#0b3c5d);
    color: #020617;
    border: none;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}
.buttons #btn-2{
    background: transparent;
    color: #e5e7eb;
    border: 2px solid #22d3ee;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: 500;
}
#btn-1:hover{
    background: linear-gradient(135deg, #38bdf8, #22d3ee);
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(34,211,238,0.45);
}
#btn-2:hover{
    background: rgba(34, 211, 238, 0.15);
}
#project{
    padding: 5px;
    min-height: 100vh;
    }
.project-card{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
 .card{
    background:rgba(0, 0, 0, 0.20);
    margin: 0 25px;
    padding-left: 15px;
    height:22rem;
    width: 22rem;
    border-radius: 10px;
}
.card .round{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 40px;
    width: 45px;
    border-radius: 50%;
    background-color: #fd3737;
}
.round i{
    color: #ddd;
}
.card h1{
    color:#ff7a8a;
    font: 1.5em sans-serif;
}
.card p{
    font: 1em sans-serif;
    color: #92999f;
}
.card h3 span{
    color: #fd3737;
}
.card h3{
    color: #00bcd4;
    font: 1em sans-serif;
    
}
.card span{
    color: #9ca3af;
    font: 1em sans-serif;
}
.card button{
    color: #fff;
    margin: 40px 0;
    height: 2.5rem;
    width: 20rem;
    border-radius: 5px;
    border: none;
     background: linear-gradient(90deg, #fd3737,#ff8c32);
}

#skills{
     padding: 5px;
    min-height: 100vh;
}

.skill-box{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
}
/*.skill-box .icon{
    margin-top:20px ;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6d7885;
}*/
.skill-box i{
     margin-top:20px ;
    font-size: 40px;
}
.box-1 i{
    color: #ff4d4d;
}

.box-2 i{
    color: blue;
}
.box-3 i{
    color:yellow;
}
.box-4 i{
    color: rgb(69, 58, 142); ;
}
.box-5 i{
    color: rgb(17, 85, 161);
}
.box-6 i{
    color:#ff4d4d;
}
.box-7 i{
    color: #fff;
}
.box-8 i{
    color: green;
}
.box-9 i{
    color:#2560de;
}
.skill-box .text{
    display: flex;
    gap: 10px;
}
.box .parent{
    background: #0f172a;
    margin-top: 10px;
    overflow: hidden;
    width: 18rem;
    height: 0.3rem;
    position: relative;
    border-radius: 20px;
}
.box  .child{
   width: 17rem;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background:#fd3737;
}
.child-2 .child{
    width: 17rem;
    background: blue;
}
.child-3 .child{
    width: 15rem;
    background:yellow;
}
.child-4 .child{
    width: 16rem;
    background: rgb(69, 58, 142);
}
.child-5 .child{
    width: 15rem;
    background: rgb(59, 144, 241);
}
.child-6 .child{
    width: 17rem;
    background:#ff4d4d;
}
.child-7 .child{
    width: 14.5rem;
    background:#fff;
}
.child-8 .child{
    width: 16rem;
    background:green;
}
.child-9 .child{
    width: 17.5rem;
    background: #2560de;
}

.box{
    padding-left: 20px;
     height:7.5rem;
    width: 21rem;
     background:rgba(0, 0, 0, 0.20);;
    border-radius: 10px;
}
.skill-box .text h3{
    color:#e5e7eb;
    font: 1.5em sans-serif;
}
#certificate{
    padding: 5px;
    min-height: 100vh;
    }
.certificate-cards{
    padding-top: 10px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
 .gain{
    margin: 0 25px;
    padding-left: 15px;
    height:22rem;
    width: 22rem;
    background:rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.gain .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 45px;
    width: 48px;
    border-radius: 50%;
    background-color: #fd3737;
}
.circle i{
    color: #ddd;
}
.gain h1{
    color:#ff7a8a;
    font: 1.5em sans-serif;
}
.gain p{
    font: 1em sans-serif;
    color: #92999f;
}
.gain h3{
    color: #00bcd4;
    
}
.gain span{
    color: #9ca3af;
    font: 1em sans-serif;
}
.gain button{
    color: #fff;
    margin-top: 30px;
    height: 2.5rem;
    width: 18rem;
    border-radius: 5px;
    border: none;
     background: linear-gradient(90deg, #fd3737,#ff8c32);
}
#contact{
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 100vh;
    
    
}
.touch{
    margin: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.self-info{
    padding-left: 15px;
    color: #FFF;
    border-radius: 10px;
    margin: 25px;
    height: 5rem;
    width: 28rem;
    background-color: rgba(8, 8, 8, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.self-info:hover{
    border: 1px solid #fd3737;
     transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
.self-info .circles-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(90deg,#ff8c32, #fd3737);
}
.addresh .left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.addresh .flex{
    margin-left: 25px;
}
.addresh h1{
    font: 1em sans-serif;
    color: #FFF;
}
.addresh p{
    font: 1em sans-serif;
    color: #FFF;
}
.message{
    margin-top: 3rem;
    border-radius: 10px;
    height:28rem;
    width: 27rem;
     background:rgba(0, 0, 0, 0.10);
    flex-direction: column;
}
.message input{
    color: #e5e7eb;
    background: rgba(0, 0, 0, 0.20);
    margin-left: 20px;
    height: 2rem;
    width: 22rem;
    border-radius: 5px;
    border: none ;
}
.message input:hover{
    border: 1px solid #fd3737;
}
.message textarea{
    color: #e5e7eb;
    background: rgba(0, 0, 0, 0.20);
    margin-left: 20px;
    height: 6rem;
    width: 22rem;
    border: none;
    border-radius: 5px;
}
.message textarea:hover{
    border: 1px solid #fd3737;
}
.message button{
    background: linear-gradient(90deg, #fd3737,#ff8c32);
    margin:20px ;
    border: none;
    height:35px ;
    width:8.5rem;
    background-color: rgba(0, 0, 0, 0.20);
    color: #FFF;
    border-radius: 25px;
}
.message h1{
    margin-left: 20px;
    font: 1em sans-serif;
    color: #FFF;
}
footer{
    height: 10rem;
    width: 100%;
    background:radial-gradient(circle at top right,rgba(0, 234,255,0.15), transparent 40%),
    linear-gradient(135deg, #071423, #0b2c4d, #071423);
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot{
    gap: 15px;
  display: flex;
}
.last:hover{
    box-shadow: 0 0 4px rgba(125, 220, 255,0.6),
                 0 0 10px rgba(125,220,255,0.4);
}
.foot i{
   color: #e5e7eb;
}
.last{
    height: 40px;
    width: 40px;
    border-radius:50%;
    border: none;
    background: rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    font: 1em sans-serif;
    margin-top: 30px;
    color: #9ca3af;
}